
@import 'fontawesome';

.tree-nav {
  > div {
    margin: 0 0 0 0.50rem;
  }

  > div:nth-child(1) {
    margin: 0;
  }

  .path-delimiter {
    margin-left: 0.50rem;
  }
}

.single-file {
  .wrapper {
    padding: 0.5rem;
    border: 1px solid #000;
  }
}

.tours-nav {
  > div {
    margin: 0 0 0 0.5rem;
  }

  > div:nth-child(1) {
    margin: 0;
  }
}

.footer {
  border-top: 1px solid #000;
}

