<html layout:decorate="~{layout}">
  <div layout:fragment="content">

    <div class="dir-location" th:data-path="${pathInfo.get('path')}" th:data-repository-id="${pathInfo.get('repositoryId')}">

      <div class="mb-2" th:if="${ancestors}">
        <div class="d-flex tree-nav">
          <div class="d-flex" th:each="ancestor,iterStat : ${ancestors}">
            
            <a th:if="${iterStat.index} < ${iterStat.size} - 1" th:href="'/repos/' + ${pathInfo.get('repositoryId')} + '/' + ${ancestor.path}">[[${ancestor.name}]]</a>
            <div th:if="${iterStat.index} >= ${iterStat.size} - 1" >[[${ancestor.name}]]</div>
              
            <div class="path-delimiter" th:if="${iterStat.index} < ${iterStat.size} - 1">
              &gt;
            </div>
          </div>
        </div>
      </div>
      
      <table class="table table-bordered">
        <tbody>
        </tbody>        
      </table>

      <div class="single-file">
      </div>
    </div>

  </div>
</html>
